[Unit]
Description=Bloc Bootstrap Nodes
After=network.target

[Service]
WorkingDirectory=<your project directory>
ExecStart=/usr/local/bin/bloc start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
